*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    background: linear-gradient(90deg,#B2CEDE 50%, #AD7A99 50%);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper
{
   background-color: #353A47; 
   width:90%;
   height: 90vh;
}

/* .navbar .logo
{  
    width: 40px;
    height: 40px;
    justify-content: space-between;
    background-color:transparent;
    border: 5px solid #F7F7FF;
    border-radius: 50%;
    border-right-color: transparent;
    position:absolute;
    top:10%;
    left:10%;
    transform: translate(-10%,-50%);
}

.navbar .logo::before{
    content: "JW" ;
    color: white;
    font-size: 20px;
    padding-top: 20%;
    position: absolute;
} */

.navbar{
   
   
    width : 90%;
    height:15vh ;
    
}

.navbar .navlist 
{
    /* padding-top: 20%;
    padding-left: 90%; */
    display: flex;
    align-items: center;
   justify-content: space-between;
   
}

.navlist li{
list-style: none;
padding: 20px;


}

.navlist a
{
    color: aliceblue;
    font-size: 18px;
    text-decoration: none ;
    position: relative;
}

.navlist a::before
{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 0;
    height: 100%;
    height: 2px;
    background-color: #AD7A99;
    transition: 0.5s ease-in;
}

.navlist a:hover::before
{
width: 100%;
}

.hero
{
    background-color: transparent;
    display: flex;
    padding: 50px;
}

.hero img{
    width: 55vw;
    height: 250px;
    
    padding-right: 25px;
}

.content{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    border-left: 4px solid #AD7A99 ;
    padding: 10px;
}

.content h3{
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 3px;
}

.content h1{
     color:  #AD7A99;
     font-size: 30px;
}

.content p{
   color: white; 
   font-size: 7px;
   line-height: 30px;
}

.content button{
    padding: 15px 30px;
    font-size: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.content button:hover{
    background-color: #AD7A99;
    color: #044266;

}

.hamburger{display: none;}

.hamburger span{

  justify-content: right;
  width:35px;
  height:3px;
  background-color: black;
  display: block;    
  margin: 5px;
}

.hamburger span:nth-child(2)
{
    width: 30px ;
}


@media screen and (max-width: 1207px) 
{
.content h1{
    font-size :10px;
}  

.content p{
    font-size: 8px;
}
}

@media screen and (max-width: 1107px) 
{
    .content{
        padding: 0 px;
    }

    .content h1{
        font-size :7px;
    }  
    
}




@media screen and (max-width: 796px)
{
    .wrapper{
        position: relative;
        overflow: hidden;
    }
    .container{
        position: relative;
    }
    .navlist{
       
     position:absolute;
     flex-direction: column;
     right: -70%;
     top:100px;
     background-color: rgb(56, 25, 56);
     border: 30px #353A47;
     width:160px ;
     height:100%;
     justify-content: left;
     transition: 0.5s ease-in-out;
    }
    .navlist-active{
        right:0;
    }

    .hamburger{
        display:block;
  
        z-index: 5;
    }

    .hero img{
display:none    }

    .content h1{
        font-size: 5px;
    }
    .content p{
        font-size: 5px;
        line-height: 15px;;
    }
}